<div class="container-fluid p-0">
  <app-header-wms></app-header-wms>
  <app-top-menu-wms></app-top-menu-wms>
  <div class="page-inner">
    <section>
      <h2>Your Trial</h2>
      <p>Ea debet ocurreret per, nec aeterno nominati oportere ei. Vix id choro ceteros. At laoreet nostrum est, iriure platonem reprimique sit cu. Id pri maluisset principes, cu everti philosophia nec, perfecto quaerendum vix ea. Ut mea iuvaret vivendum.</p>
    </section>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="m-0">Small Value</h4>
          <hr/>
          <p class="m-0">5 users</p>
          <p class="m-0">Local Server</p>
          <p class="m-0">1 Domain</p>
          <p class="m-0"><del>Support 24/24</del></p>
          <p class="m-0"><del>Tool Analysis</del></p>
          <p class="m-0"><del>Watchlist Notification</del></p>
          <hr/>
          <p class="display-4"><b>$0</b></p>
          <p class="m-0">For new starter</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary">Access now</button>
        </div>
      </div>
      <div class="card text-white bg-primary text-center">
        <div class="card-body">
          <h4 class="m-0">Best Offer</h4>
          <hr/>
          <p class="m-0">20 users</p>
          <p class="m-0">Cloud Services</p>
          <p class="m-0">1 Domain</p>
          <p class="m-0">Support 24/24</p>
          <p class="m-0"><del>Tool Analysis</del></p>
          <p class="m-0"><del>Watchlist Notification</del></p>
          <hr/>
          <p class="display-4"><b>$99</b></p>
          <p class="m-0">paid annually per month</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-warning">Access now</button>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h4 class="m-0">Enterprise Solution</h4>
          <hr/>
          <p class="m-0">Unlimited users </p>
          <p class="m-0">Cloud Services</p>
          <p class="m-0">Multi Domain</p>
          <p class="m-0">Support 24/24</p>
          <p class="m-0">Tool Analysis</p>
          <p class="m-0">Watchlist Notification</p>
          <hr/>
          <p class="display-4"><b>$999</b></p>
          <p class="m-0">paid annually per month</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary">Access now</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer-wms></app-footer-wms>
</div>
