<nav class="navbar navbar-light bg-white justify-content-between box-shadow">
  <button class="btn btn-outline-primary d-lg-none" data-toggle="offcanvas" data-target="#bootstrap-offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="d-md"></span>
  <a class="nav-link dropdown-toggle" data-toggle="collapse" data-target="#navbarToggleExternalContent">
    <img data-src="holder.js/32x32/" class="img-fluid rounded-circle"> Jonathan
  </a>
</nav>
<script type="text/javascript" src="vendor/bootstrap/js/offcanvas.js"></script>
