<div class="container-fluid p-0">
  <div id="splitlayout" class="splitlayout">
    <div class="intro">
      <div class="side side-left">
        <div class="intro-content">
          <i class="fa fa-5x fa-industry"></i>
          <h2 class="side-header text-center"><span>Warehouse</span><hr/><small>James Bond</small></h2>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="side side-right">
        <div class="intro-content">
          <i class="fa fa-5x fa-truck"></i>
          <h2 class="side-header text-center"><span>Express</span><hr/><small>Adam Smith</small></h2>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <div class="page page-left">
      <app-header-wms></app-header-wms>
      <app-top-menu-wms></app-top-menu-wms>
      <div class="page-inner">
        <section>
          <h2>Warehouse</h2>
          <p>Phần mềm quản lý kho vận Smartlog Warehouse Management System (SWM) được phát triển nhằm đáp ứng nhu cầu của các doanh nghiệp muốn nâng cao chất lượng dịch vụ logistics thông qua tối ưu quy trình cung cấp hàng hóa từ khi nhận hàng đến khi xuất hàng ra khỏi kho lưu trữ. SWM là một lựa chọn lý tưởng cho các doanh nghiệp quản lý logistics cho các loại hàng hoá như thực phẩm, đồ uống, dược phẩm, hóa chất, hàng tiêu dùng, điện tử, dệt may… Với một đội ngũ chuyên gia có nhiều kinh nghiệm làm việc ở các công ty lớn, SWM sẽ cung cấp cho quý doanh nghiệp một giải pháp thông minh, dựa trên việc áp dụng công nghệ hàng đầu thế giới để tối ưu hóa công việc, giảm chi phí trong quá trình vận hành, đồng thời dễ dàng tích hợp với các hệ thống trong doanh nghiệp. Từ đó, quý doanh nghiệp có thể cải thiện dịch vụ cung cấp, nâng cao lợi thế cạnh tranh với mức chi phí hợp lý với doanh nghiệp Việt Nam.</p>
        </section>
        <section>
          <h2>About</h2>
          <p>Smartlog Việt Nam là start-up tiên phong về phát triển các giải pháp công nghệ thông tin cho hoạt động logistics tại Việt Nam. Với đội ngũ chuyên gia có nhiều năm kinh nghiệm trong ngành chuỗi cung ứng, logistics và học hỏi kiến thức, mô hình quốc tế, chúng tôi đang từng bước thay đổi cách vận hành logistics theo xu hướng cách mạng công nghiệp 4.0, từ đó khách hàng có thể nâng cao chất lượng dịch vụ và cải thiện hiệu quả vận hành nội bộ.</p>
        </section>
        <section>
          <h2>Contact</h2>
          <p>Công ty cổ phần giải pháp chuỗi cung ứng Smartlog.</p>
          <p>207 đường D1, phường 25, quận Bình Thạnh, TPHCM, Việt Nam.</p>
          <p>info@gosmartlog.com.</p>
          <p>(+84) 966 297 345 (Ms. Huong).</p>
        </section>
      </div>
      <app-footer-wms></app-footer-wms>
    </div>
    <div class="page page-right">
      <app-header-sem></app-header-sem>
      <app-top-menu-sem></app-top-menu-sem>
      <div class="page-inner">
        <section>
          <h2>Express</h2>
          <p>Phần mềm quản lý chuyển phát nhanh Smartlog Express Management System (SEM) được phát triển nhằm đáp ứng nhu cầu của các doanh nghiệp muốn quản lý hoạt động vận hành chuyển phát nhanh .SEM sẽ cung cấp cho quý doanh nghiệp một giải pháp thông minh, dựa trên việc áp dụng công nghệ hàng đầu thế giới để tối ưu hóa công việc, giảm chi phí trong quá trình vận hành, đồng thời dễ dàng tích hợp với các hệ thống trong doanh nghiệp. Từ đó, quý doanh nghiệp có thể cải thiện dịch vụ cung cấp, nâng cao lợi thế cạnh tranh với mức chi phí hợp lý với doanh nghiệp Việt Nam.</p>
        </section>
        <section>
          <h2>About</h2>
          <p>Smartlog Việt Nam là start-up tiên phong về phát triển các giải pháp công nghệ thông tin cho hoạt động logistics tại Việt Nam. Với đội ngũ chuyên gia có nhiều năm kinh nghiệm trong ngành chuỗi cung ứng, logistics và học hỏi kiến thức, mô hình quốc tế, chúng tôi đang từng bước thay đổi cách vận hành logistics theo xu hướng cách mạng công nghiệp 4.0, từ đó khách hàng có thể nâng cao chất lượng dịch vụ và cải thiện hiệu quả vận hành nội bộ.</p>
        </section>
        <section>
          <h2>Contact</h2>
          <p>Công ty cổ phần giải pháp chuỗi cung ứng Smartlog.</p>
          <p>207 đường D1, phường 25, quận Bình Thạnh, TPHCM, Việt Nam.</p>
          <p>info@gosmartlog.com.</p>
          <p>(+84) 966 297 345 (Ms. Huong).</p>
        </section>
      </div>
      <app-footer-sem></app-footer-sem>
    </div>
    <a href="#" class="back back-right" title="back to intro">&rarr;</a>
    <a href="#" class="back back-left" title="back to intro">&larr;</a>
  </div>
</div>
