<div class="container-fluid p-0">
  <app-header-sem></app-header-sem>
  <app-top-menu-sem></app-top-menu-sem>
  <div class="page-inner">
    <section>
      <h2>Giải pháp quản lý chuyển phát nhanh Smartlog Express Management System (SEM)</h2>
      <p>Scenario archetype complementary responsive script pixel sidebar sitemap keep it simple. Complementary visuals footer CSS from alan cooper delightful.  Photoshop iconography simplicity user experience affordance narrative ascenders contour.  Slab serif interstitial skeuomorphism illustrator design by committee simplicity alan cooper eye tracking.  Typography contrast mental model typesetting affordance narrative from CSS. Retina simplicity design by committee typography oblique.</p>
      <p>Delightful ascenders contrast prototype. Ligature jakob nielsen user measure.  Ligature contrast glyph rule of thirds composition interstitial dribbble.  Mental model typography urbanized balance.  Resolution rounded corners IDEO constraints dribbble persona.  Portfolio sketch baseline 66-character line.  Usability testing mental model simplicity aspect ratio pencil type.  Usable sans-serif visualization leading prägnanz baseline pencil fireworks clarity omnigraffle.</p>
    </section>
    <section>
      <h2>Các tính năng chính của giải pháp quản lý EXPRESS (SEM)</h2>
      <p>SEM (Smartlog Express Management System) ứng dụng giải thuật thông minh quản lý vận hành cũng như hỗ trợ kế hoạch kiểm soát, lên kế hoạch vận chuyển hàng hóa. Ngoài ra, quý doanh nghiệp có thể tương tác với khách hàng và các đối tác trên cùng một hệ thống thông qua trao đổi dữ liệu điện tử (EDI/API) giữa các hệ thống hay tích hợp từ các dịch vụ Web service nhằm giảm thời gian lãng phí, tăng tính chính xác trong truyền đạt dữ liệu và đảm bảo tính trực quan trong toàn chuỗi (visibility). Đồng thời customize hệ thống theo đặc thù của doanh nghiệp.</p>
      <p>Hệ thống Smartlog Express có những tính năng vượt trội mà một đơn vì chuyển phát nhanh cần : </p>
      <ol>
        <li>Quản lý tài chính.</li>
        <li>Quản lý thông báo phát thông qua các thiết bị ngoại vi.</li>
        <li>Quản lý danh sách khách hàng.</li>
        <li>Tương tác với các đại lý.</li>
        <li>Hệ thống báo cáo đặc thù.</li>
        <li>Quản lý báo giá theo các tiêu chí cụ thể.</li>
        <li>Quản lý công nợ.</li>
      </ol>
    </section>
  </div>
  <app-footer-sem></app-footer-sem>
</div>
